.navbar {
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 10vw;
}

.nav-links li {
    margin-right: 0.2vw; 
}

.nav-links li:last-child {
    margin-right: 0; 
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px; 
}

.nav-links li a:hover {
    background-color: #090d37c9;

}

.nav-item {
    background-image: url('../Assets/Images/Frame2.png');
    background-size: 8vw 4.5vh;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 8.5vw;
    height: 5vh;

}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}